/** ecampaign css
 *
 * It may be necessary to edit, replace or remove this file depending on your theme. 
 **/

.ecform {
  clear: both;
  background-color: #F4F4F4; 
  padding: 10px;
  overflow : hidden;
}

/** basic padding around components */

.ecform .ecflush, .ecform .ecfix,  .ecform .ecsend,  .ecform .ecstatus, .ecform #text-guidance, .ecform #text-contact 
{
  padding: 4px 0px;
}


.ecform .ecflush, .ecform .ecfix, .ecform #text-counter, .ecform #text-contact  
{
  clear: both ;
}

/* let status creep up alongside the send button */

.ecform .ecfix label, .ecform .ecfix input, .ecform .ecsend, .ecform .ecstatus
{
  float: left ;
}


#ec-target .ecfix label, #ec-target .ecsend  
{
  min-width: 80px;  
}

#ec-friends .ecfix label, #ec-friends .ecsend 
{
  min-width: 150px;
}

/* float input otherwise it go right */

#ec-target input[type=checkbox] 
{
  float: left; 
}


.ecform #text-test-mode, .ecform #text-counter, .ecform #text-contact  
{  
  font-size: x-small ;
}


.ecform #text-contact {
  padding: 2px 0px;
}

.ecform a {
  font-size: x-small ;
  font-style: italic ;
  text-decoration:none;
}

/*
.ecform .shifted-label {
  position : relative ;
  right  :  195px ; 
  z-index : 1 ;
  color : grey ;
  opacity : 1 ;
}
*/

#ec-friends #ec-friends-list .ecfix 
{
  padding: 0px 0 0px 0 ;   
}


#ec-friends #ec-add-friend  
{
  clear:both;
  padding: 0px 0 0px 0 ;   
}


#ec-friends.hidden, .eccode.hidden 
{
  display:none ;
}

/** put error messages in a different colour */

.ecform .ecOk
{
  color : blue ;
}

.ecform .ecError
{
  color : red ;
}

.ecform #text-sent-1
{
  font-weight: bolder;
}

/** widen the first column in the settings 
    page to make room for all the help text */

#ec-settings th
{
  width : 250px ; 
}
