/** ecampaign css
 *
 * It may be necessary to edit, replace or remove this file depending on your theme. 
 **/

.ecform {
  clear: both;
  background-color: #F4F4F4; 
  padding: 10px ;
  margin-top : 20px ;
  margin-bottom : 20px ; 
  overflow : hidden;
}

/* line wrappers */

.ecrow
{
  clear: both ; 
  padding-top: 4px  ;   /* put space between rows */
  padding-bottom: 4px  ;   /* put space between rows */
}

/* float most elements but don't float div.ecrow or IE 7 will screw up */

.ecrow label, .ecrow input, .ecrow select,  
.ecrow .ecinputwrap, .ecrow .eclookup, .ecrow .ecsend, .ecrow .ecstatus, 
.ecrow .text-test-mode
{
  float: left ; 
}

.ecrow .ecstatus
{
  padding-left: 5px  ;   
  padding-right: 5px  ; 	
}


.ec-target label, .ec-target .ecsend
{
  min-width: 80px;  
}

.ec-friend label, .ec-friend .ecsend 
{
  min-width: 150px;

}
.ecform label#lab-to, .ecform label#lab-subject, .ecform label#lab-friendSubject
{
  min-width: 0px;  /** tight specificity needed for ie7 */
}

/* float input otherwise it go right */

.ec-target input[type=checkbox] 
{
  float: left; 
}

.ecform .text-test-mode, .ecform .text-counter, .ecform .text-contact
{  
  font-size: x-small ;
}

.ecform .text-contact {
  padding: 2px 0px;
}

.ecform a {
  font-size: x-small ;
  font-style: italic ;
  text-decoration:none;
}

/*
.ecform .shifted-label {
  position : relative ;
  right  :  195px ; 
  z-index : 1 ;
  color : grey ;
  opacity : 1 ;
}
*/


.ec-friend .ecrow #ec-friends-list 
{
  padding: 0px 0 0px 0 ;   
}


.ec-friend .ecrow #ec-friends-list  div.ecfriend, .ec-friend #ec-add-friend 

{
  clear:both;
  padding: 0px 0 0px 0 ;   
}


.eccode.hidden, .ecform.hidden
{
  display:none ;
}

.ecform div.ecrow div.ecstatus
{
  padding-left: 10px ; 
}


/** put error messages in a different colour */

.ecform .ecOk
{
  color : blue ;
}

.ecform .ecError
{
	color : red ;
}

.ecform .bolder
{
  font-weight: bolder;
}

/** widen the first column in the settings 
    page to make room for all the help text */

#ec-settings th
{
  width : 250px ; 
}

/**
 * remove shadow borders from input boxes
 * because it's rarely used by other campaign sites. 
 */
 
.ecform input[type=text] 
{
  border-style : solid ; 
  border-color : #e0e0e0 ; 
  border-width : 1px ;
}


.ecform div.body
{
	margin : 10px ;
  background : lightyellow ;
}

/**
 * log administration page 
 */
 

#eclog,  #eclog div {
  background-color: #eee;
  padding: 2px ;  
}


#eclog span.ecinline {
  background-color: white;
  padding: 6px 0px  ;
  margin : 4px 20px 4px 2px ; 
}

 
#eclog span.ecinline span, #eclog span.ecinline a, 
#eclog span.ecinline label, #eclog span.ecinline input 
{
  margin: 4px 5px ;   
}

.infoBlock {
	display : none;
}
